.sign-in-form-container {
    width: 500px;
    height: 650px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;

   
    .sign-in-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}